<div class="row">
  <div class="col dropdownBox">
    <div ngbDropdown class="d-inline-block">
      <button
        class="btn btn-primary pull-right"
        id="dropdownBasic1"
        ngbDropdownToggle
      >
        Select User ID
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button
          (click)="selectedId = id; getSelectedUser()"
          *ngFor="let id of userIds"
          ngbDropdownItem
        >
          {{ id }}
        </button>
      </div>
    </div>

    <div *ngIf="rcvdData" class="user">
      <div class="id">
        <label for="uid"> Id : </label>
        <label for="id">{{ rcvdData.id }} </label>
      </div>
      <div class="fname">
        <label for="fname"> First Name : </label>
        <label for="fname">{{ rcvdData.first_name }} </label>
      </div>
      <div class="lname">
        <label for=""> Last Name : </label>
        <label for="id">{{ rcvdData.last_name }} </label>
      </div>
      <div class="email">
        <label for=""> Email : </label>
        <label for="id">{{ rcvdData.email }} </label>
      </div>
    </div>
    <div *ngIf="rcvdData" class="avatar">
      <img src="{{ rcvdData.avatar }}" alt="2" />
    </div>
  </div>
</div>
